.Countdown {
    display: flex;
    justify-content: center;
    align-items: center;
}

.CountdownWrapper {
    width: 414px;
    height: 463px;
    border-radius: 30px;
    background-color: #4e1d52;
    position: relative;
}

.CountdownBadge {
    position: absolute;
    top: 30px;
    right: 0;
    background-color: #47bb77;
    border-radius: 80px 0 0 80px;
    padding: 8px 10px 6px 20px;
}

.CountdownTitle {
    color: #fff;
    text-align: center;
    padding-top: 40px;
}

.CountdownTitleH1 {
    margin: 0;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.05em;
}

.CountdownTitleH3 {
    margin: 0;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.05em;
    font-weight: 300;
}

.CountdownTitleH2 {
    margin: 0;
    font-size: 26px;
    line-height: 20px;
    letter-spacing: -0.05em;
}

.CountdownText {
    position: absolute;
    color: #fff;
    /* Método usado para centralizar algum elemento que contém o position absolute. */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: 200;
    letter-spacing: 0.05em;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 2px solid #ffffff10;

    display: grid;
    place-items: center;
}
