.link--link-texto {
    padding: 16px 22px;
    background-color: #4e1d52;
    color: #fff;
    border-radius: 30px;
    display: block;
    width: fit-content;
    margin: 2rem 24px;
    letter-spacing: 0.05em;
    font-size: 14px;
}
