.container--texto-meio {
    justify-content: center;
    font-family: cursive, sans-serif;
    color: #fff;
}

.headingLevel2--texto-meio,
.headingLevel3--texto-meio,
.paragraph--texto-meio {
    margin: 0;
}

.headingLevel3--texto-meio {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: -0.05em;
}

.headingLevel2--texto-meio {
    font-size: 50px;
    font-weight: 600;
    letter-spacing: -0.05em;
}

.paragraph--texto-meio {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.05em;
}

.wrapper--texto-meio {
    width: 100%;
    margin: 0 24px;
}
