/* M3 SHELF TITLE  */
/* ------------------------------------------------------------------------ */
.container--m3-shelf-title {
  margin-top: 80px;
  margin-bottom: 40px;
}

.heading--m3-shelf-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: $color-gray4;
  margin: 0;
}
