/* _header.scss */
.headerCheckout {
	&__wrapper {
		align-items: center;
		display: flex;
		justify-content: space-between;
		padding: 12px 0;

		@include mq(md, max) {
			padding: 18px 8px;
		}
	}

	&__logo {
		img {
			height: 52px;
			width: auto;
		}
	}

	&__safeBuy {
		span {
			align-items: center;
			display: flex;
			text-transform: uppercase;
			font-family: $font-family;
			font-style: normal;
			font-weight: normal;
			font-size: 12px;
			line-height: 14px;
			color: $color-gray;
		}

		i {
			margin-right: 8px;
		}
	}
}
