.product-identifier__label,
.product-identifier__value,
.product-identifier__separator {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  color: #7d7d7d;
}

.product-identifier {
  display: block;
  margin-bottom: 5px;
}