.groupName,.specificationName,.specificationValue {
  /* font-family: 'Roboto', sans-serif; */
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: #7D7D7D;
}

/* .specificationValue[data-specification-name="Açúcar"]::after{
  content: "4%";
  right: 0;
  position: absolute;
} */