.headerRowBackground--main-header {
    min-height: 99px;
    display: flex;

    background: #e5e5e5 !important;
    background-size: cover !important;
    border: 1px solid #e5e5e5;
}

.headerRowBackground--main-header-menu {
    border-top: 1px solid $color-gray4;
    background: #e5e5e5 !important;
}

.headerRowContentContainer {
    padding: 0 12px;
}

.headerRowBackground--main-header-menu .headerRowContentContainer {
    max-width: 100%;
    padding: 0;
}

.headerRowBackground--main-header-menu .menuContainerNav {
    margin: 0 auto;
}

.submenuWrapper {
    display: none;
}
.headerRowBackground {
    background: #e5e5e5 !important;
}

.headerRowContainer--main-header-mobile {
    height: 104px;
    justify-content: space-between;
}

.headerRowContainer--mobile-search {
    justify-content: space-around;
}

.headerRowContainer--teste
    :global(.vtex-store-components-3-x-searchBarContainer) {
    padding-top: 0px;
}

@media only screen and (max-width: 1025px) {
    .headerRowContentContainer {
        max-width: 100vw;
    }
    .headerRowContainer--main-header-mobile {
        position: relative;
    }
    .headerRowContainer--main-header-mobile
        :global(.vtex-store-components-3-x-logoLink) {
        transform: translate(-34%, 0);
    }
}
