.flexRow--drawer-top-content {
  margin-left: -1rem;
  margin-right: -1rem;
}

.flexRowContent--drawer-top-content {
  padding: 0 8px;
}

.flexCol--mobile-links-container {
  border-bottom: 1px solid #e5e5e5;
}